<div class="title-container">
    <div style="text-align: center" class="title"><h2>Reporte de cantidad de respuestas por ticket</h2>
    </div>
    @if(hasDate==true){
        <div style="text-align: center" class="chart-container">
            <canvas
            baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [type]="barChartType"
            ></canvas>
        </div>
    }
    @if(hasDate==false){
        <div class="no-data">
            <mat-icon class="no-data-icon">info-outline</mat-icon>
            <p class="no-data-message">No hay datps disponibles.</p>
        </div>
    }
</div>
