<div class="logotitulo" routerLink="/home" style="text-align:center">
  <img src="/assets/logosmenu/logo.png" alt="Titulo" class="titulopng">
</div>

<div class="container">
  <div class="button-cards">
    <div class="card-button" (click)="Registrar()">
      <div class="card-main-text">REGISTRARSE GRATIS</div>
      <button mat-raised-button class="hidden-button"></button>
    </div>

    <div class="card-button" (click)="IniciarSesion()">
      <div class="card-main-text">INICIAR SESION</div>
      <button mat-raised-button class="hidden-button"></button>
    </div>
  </div>
</div>