/* Fondo negro global */
body {
  background: #000;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

/* TÍTULO PRINCIPAL */
.title {
  color: #00eaff;
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  margin-top: 40px;

  text-shadow:
    0 0 10px #00eaff,
    0 0 25px #008cff,
    0 0 40px #4d00ff;
}

/* SUBTÍTULOS */
.subtitle {
  color: #00eaff;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.3rem;

  text-shadow:
      0 0 10px #00eaff,
      0 0 20px #008cff;
}

/* CONTENEDOR GLASS */
.glass-card {
  width: 90%;
  margin: 30px auto;
  padding: 25px;
  border-radius: 18px;

  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(15px);

  border: 1px solid rgba(0, 255, 255, 0.25);
  box-shadow:
      0 0 25px rgba(0, 255, 255, 0.25),
      inset 0 0 20px rgba(255, 255, 255, 0.03);

  color: #fff;
}

/* FILA DE ARCHIVO */
.file-row {
  display: grid;
  grid-template-columns: 180px 1fr;
  gap: 12px;
  margin-bottom: 15px;
}

.file-row label {
  color: #00eaff;
  font-weight: 600;
  text-shadow: 0 0 10px #00eaff;
}

.file-row input[type="file"] {
  background: rgba(255, 255, 255, 0.1);
  padding: 8px;
  border-radius: 8px;
  color: white;
  border: 1px solid rgba(0,255,255,0.3);
}

/* META INFO */
.meta {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

/* CHIPS */
.chips mat-chip {
  margin-right: 6px;
  margin-bottom: 6px;
}

/* TABLA */
.custom-table {
  width: 100%;
  color: white;
  border-collapse: collapse;
}

/* HEADER */
.custom-table th {
  padding: 12px;
  text-transform: uppercase;
  font-weight: 600;

  border-bottom: 2px solid rgba(0, 230, 255, 0.5);
  text-shadow: 0 0 10px #00eaff;
}

/* FILAS */
.custom-table td {
  padding: 10px;
  border-bottom: 1px solid rgba(255,255,255,0.08);
}

/* HOVER EFECTO */
.custom-table tr:hover {
  background: rgba(0,255,255,0.08);
  box-shadow: inset 0 0 25px rgba(0,255,255,0.3);
  transform: scale(1.01);
}

/* ERROR */
.error {
  color: #ff5c5c;
  margin-top: 10px;
  text-shadow: 0 0 10px #ff2a2a;
}

/* NO DATA */
.no-data {
  margin-top: 10px;
  color: #aaa;
  font-style: italic;
}
