/*Boton silenciado*/
.boton-sonido {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  background-color: #0073b1; /* Color azul Material */
  color: white;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.boton-sonido:hover {
  background-color: #4a90e2;
}

.boton-chat {
  position: fixed;
  bottom: 20px;
  right: 90px;
  background-color: #0073b1;
  color: white;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
  width: 56px;
  height: 56px;
  transition: transform 0.2s ease-in-out;
}

.boton-chat:hover {
  transform: scale(1.1);
}
