body {
  background: #0d1b2a;
  font-family: Arial, sans-serif;
}

/* Glassmorphism Card */
.glass-card {
  backdrop-filter: blur(14px);
  background: rgba(255, 255, 255, 0.09);
  border-radius: 20px;
  padding: 25px;
  margin-top: 40px;
  border: 1px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 25px rgba(0,255,255,0.25), 0 0 50px rgba(0,255,255,0.15);
}

/* Neon Title */
.neon-text {
  color: #00eaff;
  text-shadow: 0 0 10px #00eaff, 0 0 20px #00eaff, 0 0 30px #00ffff;
  font-size: 30px;
  font-weight: bold;
}

/* Table */
.custom-table {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.custom-table th {
  background: rgba(0, 255, 255, 0.25);
  color: #000000;
  text-shadow: 0 0 5px #00f0ff;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  border-bottom: solid 1px rgba(255,255,255,0.2);
}

.custom-table td {
  background: rgba(255,255,255,0.05);
  padding: 12px;
  color: #e5f9ff;
}

/* Hover effect */
.custom-table tr:hover td {
  background: rgba(0,255,255,0.15);
  transition: 0.25s;
}

/* NEON BUTTONS */
.icon-btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

.icon-btn mat-icon {
  font-size: 22px;
}

/* Edit Neon */
.icon-btn.edit {
  background: rgba(0,255,255,0.2);
  color: cyan;
  box-shadow: 0 0 8px cyan;
}

.icon-btn.edit:hover {
  background: cyan;
  color: #000;
  box-shadow: 0 0 15px cyan, 0 0 30px cyan;
}

/* Delete Neon */
.icon-btn.delete {
  background: rgba(255,0,0,0.2);
  color: #ff4d4d;
  box-shadow: 0 0 8px red;
}

.icon-btn.delete:hover {
  background: red;
  color: #000;
  box-shadow: 0 0 15px red, 0 0 30px red;
}
