

<div class="container">
  @if(verificar()){
  <mat-toolbar class="custom-toolbar">

    <!-- INICIO -->
    <button matButton class="btn-rojo" routerLink="/inicio">
      <mat-icon>home</mat-icon>Inicio
    </button>
@if(isAdmin()){
    <!-- USUARIOS -->
    <button
      matButton
      class="btn-rojo"
      [matMenuTriggerFor]="menuUsuarios"
    >
      <mat-icon>group</mat-icon>Usuarios
    </button>
}
@if(isTester()){
    <!-- CUENTAS -->
    <button
      matButton
      class="btn-rojo"
      [matMenuTriggerFor]="menuCuenta"
    >
      <mat-icon>account_balance_wallet</mat-icon>Cuenta
    </button>

    <!-- ARCHIVOS -->
    <button
      matButton
      class="btn-rojo"
      [matMenuTriggerFor]="menuArchivos"
    >
      <mat-icon>folder</mat-icon>Archivos
    </button>

    <!-- RECOMENDACIONES -->
    <button
      matButton
      class="btn-rojo"
      [matMenuTriggerFor]="menuRecomendaciones"
    >
      <mat-icon>tips_and_updates</mat-icon>Recomendaciones
    </button>

    <!-- ALERTAS -->
    <button
      matButton
      class="btn-rojo"
      [matMenuTriggerFor]="menuAlertas"
    >
      <mat-icon>tips_and_updates</mat-icon>Alertas
    </button>

    <!-- TICKETS  -->
    <button
      matButton
      class="btn-rojo"
      [matMenuTriggerFor]="menuTickets"
    >
      <mat-icon>tips_and_updates</mat-icon>Tickets
    </button>

    <!-- RESPUESTAS  -->
    <button
      matButton
      class="btn-rojo"
      [matMenuTriggerFor]="menuRespuestas"
    >
      <mat-icon>tips_and_updates</mat-icon>Respuestas
    </button>
}











    <!-- LOGIN -->
    <button matButton class="btn-rojo" routerLink="/login">
      <mat-icon>login</mat-icon>Login
    </button>

    <!-- REGISTRO -->
    <button matButton class="btn-rojo" routerLink="/registrar">
      <mat-icon>person_add</mat-icon>Registrarse
    </button>

    <span class="spacer"> </span>
  
    <button mat-button [matMenuTriggerFor]="menuSalir">
      <mat-icon>person</mat-icon>Usuario
    </button>
  </mat-toolbar>




















  <!-- MENU USUARIOS -->
  <mat-menu #menuUsuarios="matMenu">
    <button mat-menu-item routerLink="/usuarios">
      <mat-icon>list</mat-icon>Listar usuarios
    </button>
    <button mat-menu-item routerLink="/usuarios/registrar">
      <mat-icon>add</mat-icon>Registrar usuario
    </button>
  </mat-menu>

  <!-- MENU CUENTA -->
  <mat-menu #menuCuenta="matMenu">
    <button mat-menu-item routerLink="/cuenta">
      <mat-icon>list</mat-icon>Listar cuentas
    </button>
    <button mat-menu-item routerLink="/cuenta/registrar">
      <mat-icon>add</mat-icon>Registrar cuenta
    </button>
  </mat-menu>


   <!-- MENU TICKETS -->
  <mat-menu #menuTickets="matMenu">
    <button mat-menu-item routerLink="/tickets">
      <mat-icon>list</mat-icon>Listar Tickets
    </button>
    <button mat-menu-item routerLink="/tickets/registrar">
      <mat-icon>add</mat-icon>Nuevo Ticket
    </button>
  </mat-menu>

<!-- MENU RESPUESTAS -->
  <mat-menu #menuRespuestas="matMenu">
    <button mat-menu-item routerLink="/respuestas">
      <mat-icon>list</mat-icon>Listar respuestas
    </button>
    <button mat-menu-item routerLink="/respuestas/registrar">
      <mat-icon>add</mat-icon>Nueva respuesta
    </button>
  </mat-menu>






  <!-- MENU ARCHIVOS -->
  <mat-menu #menuArchivos="matMenu">
    <button mat-menu-item routerLink="/archivos">
      <mat-icon>list</mat-icon>Listar archivos
    </button>
    <button mat-menu-item routerLink="/archivos/registrar">
      <mat-icon>add</mat-icon>Registrar archivo
    </button>
    <button mat-menu-item routerLink="/archivos/buscarxfecha">
      <mat-icon>search</mat-icon>Buscar por fecha
    </button>
  </mat-menu>

  <!-- MENU RECOMENDACIONES -->
  <mat-menu #menuRecomendaciones="matMenu">
    <button mat-menu-item routerLink="/recomendaciones">
      <mat-icon>list</mat-icon>Listar recomendaciones
    </button>
    <button mat-menu-item routerLink="/recomendaciones/registrar">
      <mat-icon>add</mat-icon>Nueva recomendación
    </button>
  </mat-menu>
  
  <!-- MENU ALERTAS -->
  <mat-menu #menuAlertas="matMenu">
    <button mat-menu-item routerLink="/alertas">
      <mat-icon>list</mat-icon>Listar alertas
    </button>
    <button mat-menu-item routerLink="/alertas/registrar">
      <mat-icon>add</mat-icon>Nueva alerta
    </button>
  </mat-menu>
  }
  <mat-menu #menuSalir="matMenu">
    <button mat-menu-item routerLink="/login" (click)="cerrar()">
      <mat-icon>logout</mat-icon>
      <span>Cerrar sesión</span>
    </button>
    <button mat-menu-item>
      Rol:
      <span>{{ role }}</span>
    </button>
  </mat-menu>
</div>
