

<div class="container">
  <mat-toolbar class="custom-toolbar">

    <!-- INICIO -->
    <button matButton class="btn-rojo" routerLink="/inicio">
      <mat-icon>home</mat-icon>Inicio
    </button>

    <!-- USUARIOS -->
    <button
      matButton
      class="btn-rojo"
      [matMenuTriggerFor]="menuUsuarios"
    >
      <mat-icon>group</mat-icon>Usuarios
    </button>

    <!-- CUENTAS -->
    <button
      matButton
      class="btn-rojo"
      [matMenuTriggerFor]="menuCuenta"
    >
      <mat-icon>account_balance_wallet</mat-icon>Cuenta
    </button>

    <!-- ARCHIVOS -->
    <button
      matButton
      class="btn-rojo"
      [matMenuTriggerFor]="menuArchivos"
    >
      <mat-icon>folder</mat-icon>Archivos
    </button>

    <button matButton class="btn-rojo" [matMenuTriggerFor]="menuAuditoria">
      <mat-icon>policy</mat-icon> Auditoría
    </button>

    <button matButton class="btn-rojo" [matMenuTriggerFor]="menuLog">
      <mat-icon>history</mat-icon> Logs
    </button>

    <!-- RECOMENDACIONES -->
    <button
      matButton
      class="btn-rojo"
      [matMenuTriggerFor]="menuRecomendaciones"
    >
      <mat-icon>tips_and_updates</mat-icon>Recomendaciones
    </button>

    <!-- LOGIN -->
    <button matButton class="btn-rojo" routerLink="/login">
      <mat-icon>login</mat-icon>Login
    </button>

    <!-- REGISTRO -->
    <button matButton class="btn-rojo" routerLink="/registrar">
      <mat-icon>person_add</mat-icon>Registrarse
    </button>

  </mat-toolbar>


  <!-- MENU USUARIOS -->
  <mat-menu #menuUsuarios="matMenu">
    <button mat-menu-item routerLink="/usuarios">
      <mat-icon>list</mat-icon>Listar usuarios
    </button>
    <button mat-menu-item routerLink="/usuarios/registrar">
      <mat-icon>add</mat-icon>Registrar usuario
    </button>
  </mat-menu>

  <!-- MENU CUENTA -->
     <mat-menu #menuCuenta="matMenu">
    <button mat-menu-item routerLink="/cuentas">
      <mat-icon>list</mat-icon>Listar cuentas
    </button>
    <button mat-menu-item routerLink="/cuentas/nuevo">
      <mat-icon>add</mat-icon>Nueva cuenta
    </button>
    <button mat-menu-item routerLink="/cuentas/buscar">
      <mat-icon>search</mat-icon>Buscar activas
    </button>
  </mat-menu>


  <!-- MENU ARCHIVOS -->
  <mat-menu #menuArchivos="matMenu">
    <button mat-menu-item routerLink="/archivos">
      <mat-icon>list</mat-icon>Listar archivos
    </button>
    <button mat-menu-item routerLink="/archivos/registrar">
      <mat-icon>add</mat-icon>Registrar archivo
    </button>
    <button mat-menu-item routerLink="/archivos/buscarxfecha">
      <mat-icon>search</mat-icon>Buscar por fecha
    </button>
  </mat-menu>

  <!-- MENU RECOMENDACIONES -->
  <mat-menu #menuRecomendaciones="matMenu">
    <button mat-menu-item routerLink="/recomendaciones">
      <mat-icon>list</mat-icon>Listar recomendaciones
    </button>
    <button mat-menu-item routerLink="/recomendaciones/registrar">
      <mat-icon>add</mat-icon>Nueva recomendación
    </button>
  </mat-menu>

  <mat-menu #menuAuditoria="matMenu">
    <button mat-menu-item routerLink="/auditorias">
      <mat-icon>list</mat-icon>Listar auditorías
    </button>
    <button mat-menu-item routerLink="/auditorias/nuevo">
      <mat-icon>add</mat-icon>Registrar auditoría
    </button>
    <button mat-menu-item routerLink="/auditorias/buscar">
      <mat-icon>search</mat-icon>Buscar por fecha
    </button>
  </mat-menu>


  <mat-menu #menuLog="matMenu">
    <button mat-menu-item routerLink="/logacceso">
      <mat-icon>list</mat-icon>Historial de accesos
    </button>
    <button mat-menu-item routerLink="/logacceso/nuevo">
      <mat-icon>add</mat-icon>Registrar log
    </button>
    <button mat-menu-item routerLink="/logacceso/buscar">
      <mat-icon>search</mat-icon>Buscar por rango
    </button>
  </mat-menu>

</div>
